#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  padding: 1em;
  background-color: antiquewhite;
}

#gallery img {
  transition: 0.5s;
  margin: 10px;
  max-width: 95%;
  box-shadow: 10px 10px 10px grey;
}

#gallery img:hover {
  -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
  transform: scale(1.1);
}